const config = {

    // General Settings
    general: {
        token: "", // Token to login to the Discord API
        prefix: ".", // Default Bot Prefix
        version: "1.0.0", // Current Version
        embedColor: "#ABCDEF", // Default Embed Color
        devs: [
            "420325176379703298", // Jarno
            "648882989471891499" // Waitrose
        ],
        development: false // Wether the bot is in a development environment or not
    },

    logging: {
        errors: {
            guild: "", // Guild to log errors in
            channel: "", // Channel to log errors in
            url: "" // Support Discord URL
        },
        joinleave: {
            guild: "", // Guild to log bot join/leaves in
            channel: "" // Channel to log bot join/leaves in
        }
    },

    // API Keys
    apiKeys: {
        weather: "", // WeatherAPI.com API Key
        steam: "", // Steam API Key
        riot: "", // Riot Games API Key
        trackerNetwork: "", // TrackerNetwork API Key
        omdb: "", // omdb API Key
        r2d2: "" // R2-D2 API Key
    },

    // Global Emojis
    emojis: {
        jarno: "",
        waitrose: "",
        error: "",
        loading: "",
        confirmation: "",
        url: "",
        djs: "",
        nodejs: "",
        online: "",
        offline: "",
        idle: "",
        dnd: "",
        spotify: "",
        discord: "",
        twitch: "",
        player: "",
        game: "",
        trophy: "",
        poll: "",
        users: "",
        chatting: "",
        group: "",
        level_up: ""
    },

    // Mongo Info
    mongo: {
        username: "",
        password: "",
        host: "localhost",
        port: "27017",
        database: "R2-D2"
    }

};

module.exports = config;