const config = {

    // General Settings
    general: {
        prefix: ".", // Default Bot Prefix
        version: "2021.1.1", // Current Version
        embedColor: "#ABCDEF", // Default Embed Color
        devs: [
            "420325176379703298", // Jarno
            "648882989471891499" // Waitrose
        ],
        proxyUrl: "", // The URL to the proxy
        development: false, // Wether the bot is in a development environment or not
        sentrydsn: "" // The Sentry Data Source Name
    },

    logging: {
        errors: {
            guild: "", // Guild to log errors in
            channel: "", // Channel to log errors in
            url: "" // Support Discord URL
        },
        joinleave: {
            guild: "", // Guild to log bot join/leaves in
            channel: "" // Channel to log bot join/leaves in
        }
    },

    // Global Emojis
    emojis: {
        jarno: "",
        waitrose: "",
        error: "",
        loading: "",
        confirmation: "",
        url: "",
        djs: "",
        nodejs: "",
        online: "",
        offline: "",
        idle: "",
        dnd: "",
        spotify: "",
        discord: "",
        twitch: "",
        player: "",
        game: "",
        trophy: "",
        poll: "",
        users: "",
        chatting: "",
        group: "",
        level_up: "",
        ceo: "",
        bans: "",
        team: "",
        pepe_ping: ""
    },

};

module.exports = config;