const config = {

    // General Settings
    general: {
        token: "", // Token to login to the Discord API
        prefix: ".", // Default Bot Prefix
        version: "1.0.0", // Current Version
        embedColor: "#ABCDEF", // Default Embed Color
        errors: {
            guild: "", // Guild to log errors in
            channel: "" // Channel to log errors in
        },
        devs: [
            "420325176379703298", // Jarno
            "648882989471891499" // Waitrose
        ]
    },

    // Global Emojis
    emojis: {
        jarno: "",
        waitrose: "",
        error: "",
        loading: "",
        confirmation: "",
        url: "",
        djs: "",
        nodejs: "",
        online: "",
        offline: "",
        idle: "",
        dnd: "",
        spotify: "",
        discord: "",
        twitch: "",
        player: "",
        game: "",
        trophy: ""
    },

    // Mongo Info
    mongo: {
        username: "",
        password: "",
        host: "localhost",
        port: "27017",
        database: "R2-D2"
    },

    // List of Discord Permissions
    discordPermissions: [
        "ADMINISTRATOR",
        "CREATE_INSTANT_INVITE",
        "KICK_MEMBERS",
        "BAN_MEMBERS",
        "MANAGE_CHANNELS",
        "MANAGE_GUILD",
        "ADD_REACTIONS",
        "VIEW_AUDIT_LOG",
        "PRIORITY_SPEAKER",
        "STREAM",
        "VIEW_CHANNEL",
        "SEND_MESSAGES",
        "SEND_TTS_MESSAGES",
        "MANAGE_MESSAGES",
        "EMBED_LINKS",
        "ATTACH_FILES",
        "READ_MESSAGE_HISTORY",
        "MENTION_EVERYONE",
        "USE_EXTERNAL_EMOJIS",
        "VIEW_GUILD_INSIGHTS",
        "CONNECT",
        "SPEAK",
        "MUTE_MEMBERS",
        "DEAFEN_MEMBERS",
        "MOVE_MEMBERS",
        "USE_VAD",
        "CHANGE_NICKNAME",
        "MANAGE_NICKNAMES",
        "MANAGE_ROLES",
        "MANAGE_WEBHOOKS",
        "MANAGE_EMOJIS"
    ]

};

module.exports = config;